.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  font-family: helvetica;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(48, 48, 73);
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 10px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-image: linear-gradient(#dee9ff, rgb(251, 211, 255));
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

button {
  background-color: rgb(255, 193, 241);
  border-radius: 12px;
  border: 0;
  padding: 7px;
  transition: 1s;
}

button:hover {
  background-color: lightgray;
}

img {
  border-radius: 50%;
  max-width: 10px;
  scale: 250%;
  margin: 0;
}
